USE [master]
GO
/****** Object:  Database [PicaNet]    Script Date: 2/4/2019 1:18:00 AM ******/
CREATE DATABASE [PicaNet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PicaNet', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PicaNet.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PicaNet_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PicaNet_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PicaNet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PicaNet]
GO
/****** Object:  Table [dbo].[Kupac]    Script Date: 2/4/2019 1:18:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kupac](
	[Id] [uniqueidentifier] NOT NULL,
	[StoreId] [uniqueidentifier] NULL,
	[Ime] [nvarchar](50) NULL,
	[Prezime] [nvarchar](50) NULL,
	[Telefon] [nvarchar](100) NULL,
	[Email] [nvarchar](255) NULL,
	[Ulica] [nvarchar](100) NULL,
	[Grad] [nvarchar](100) NULL,
	[Drzava] [nvarchar](2) NULL,
	[Zip] [nvarchar](10) NULL,
	[Stanje] [nvarchar](2) NULL,
 CONSTRAINT [PK_Kupac] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Narudzbina]    Script Date: 2/4/2019 1:18:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Narudzbina](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[StoreId] [uniqueidentifier] NULL,
	[KupacId] [uniqueidentifier] NOT NULL,
	[StatusNarudzbineId] [int] NOT NULL,
	[DatumNarudzbine] [datetime2](7) NOT NULL,
	[Telefon] [nvarchar](100) NULL,
	[DatumIsporuke] [datetime2](7) NULL,
	[CenaIsporuke] [smallmoney] NULL,
	[UlicaDostave] [nvarchar](100) NULL,
	[GradDostave] [nvarchar](100) NULL,
	[DrzavaDostave] [nvarchar](2) NULL,
	[ZipDostave] [nvarchar](10) NULL,
	[UkupnoProizvoda] [smallmoney] NOT NULL,
 CONSTRAINT [PK_Narudzbina] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OpcijaProizvoda]    Script Date: 2/4/2019 1:18:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpcijaProizvoda](
	[Id] [int] NOT NULL,
	[Tip] [nvarchar](20) NOT NULL,
	[Ime] [nvarchar](50) NOT NULL,
	[Faktor] [int] NOT NULL,
	[OpcijaPice] [bit] NOT NULL,
	[OpcijeSalate] [bit] NOT NULL,
 CONSTRAINT [PK_OpcijaProizvoda] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OpcijaProizvodaNarudzbine]    Script Date: 2/4/2019 1:18:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpcijaProizvodaNarudzbine](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[StoreId] [uniqueidentifier] NULL,
	[ProizvodNarudzbineId] [bigint] NOT NULL,
	[OpcijaProizvodaId] [int] NOT NULL,
	[Kolicina] [int] NOT NULL,
	[Cena] [smallmoney] NOT NULL,
 CONSTRAINT [PK_OpcijaProizvodaNarudzbine] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proizvod]    Script Date: 2/4/2019 1:18:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proizvod](
	[Id] [int] NOT NULL,
	[Tip] [nvarchar](20) NOT NULL,
	[Ime] [nvarchar](50) NOT NULL,
	[Opis] [nvarchar](255) NOT NULL,
	[Slika] [nvarchar](50) NULL,
	[ImaOpcije] [bit] NOT NULL,
	[Veganski] [bit] NULL,
	[SaParadajzSosom] [bit] NULL,
	[VelicineIds] [nvarchar](10) NULL,
 CONSTRAINT [PK_Proizvod] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProizvodNarudzbine]    Script Date: 2/4/2019 1:18:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProizvodNarudzbine](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[StoreId] [uniqueidentifier] NULL,
	[NarudzbinaId] [bigint] NOT NULL,
	[ProizvodId] [int] NOT NULL,
	[VelicinaProizvodaId] [int] NOT NULL,
	[Kolicina] [int] NOT NULL,
	[CenaJedinice] [smallmoney] NOT NULL,
	[Cena] [smallmoney] NOT NULL,
	[Instrukcije] [nvarchar](255) NULL,
 CONSTRAINT [PK_ProizvodNarudzbine] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusNarudzbine]    Script Date: 2/4/2019 1:18:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusNarudzbine](
	[Id] [int] NOT NULL,
	[Ime] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_StatusNarudzbine] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VelicinaProizvoda]    Script Date: 2/4/2019 1:18:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VelicinaProizvoda](
	[Id] [int] NOT NULL,
	[Tip] [nvarchar](20) NOT NULL,
	[Ime] [nvarchar](50) NOT NULL,
	[Cena] [smallmoney] NOT NULL,
	[PremiumCena] [smallmoney] NULL,
	[SnizenaCena] [smallmoney] NULL,
	[SadrziGluten] [bit] NULL,
 CONSTRAINT [PK_VelicinaProizvoda] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Kupac] ([Id], [StoreId], [Ime], [Prezime], [Telefon], [Email], [Ulica], [Grad], [Drzava], [Zip], [Stanje]) VALUES (N'7462c7c8-e24c-484a-8f93-013f1c479615', NULL, N'Julija', N'Djindjic', N'(954) 594-9355', N'derek.puckett@vulputate.net', N'P.O. Box 914, 9990 Dapibus St.', N'Quam', N'OH', N'55154', NULL)
INSERT [dbo].[Kupac] ([Id], [StoreId], [Ime], [Prezime], [Telefon], [Email], [Ulica], [Grad], [Drzava], [Zip], [Stanje]) VALUES (N'8f64b183-a881-42f5-9c1d-013f1c479616', NULL, N'Bernard', N'Russell', N'(203) 652-0465', N'bernard.russell@torquentper.com', N'324-6843 Dolor Ave', N'Quis', N'FL', N'28034', NULL)
INSERT [dbo].[Kupac] ([Id], [StoreId], [Ime], [Prezime], [Telefon], [Email], [Ulica], [Grad], [Drzava], [Zip], [Stanje]) VALUES (N'c56f1005-28c6-454d-9525-013f1c479619', NULL, N'Dorian', N'Hurley', N'(691) 714-1449', N'dorian.hurley@ipsumprimis.org', N'3100 Nunc St.', N'Nam', N'IL', N'57878', NULL)
SET IDENTITY_INSERT [dbo].[Narudzbina] ON 

INSERT [dbo].[Narudzbina] ([Id], [StoreId], [KupacId], [StatusNarudzbineId], [DatumNarudzbine], [Telefon], [DatumIsporuke], [CenaIsporuke], [UlicaDostave], [GradDostave], [DrzavaDostave], [ZipDostave], [UkupnoProizvoda]) VALUES (1, NULL, N'7462c7c8-e24c-484a-8f93-013f1c479615', 2, CAST(N'2013-03-12T17:30:00.0000000' AS DateTime2), N'(954) 594-9355', CAST(N'2013-03-12T18:07:00.0000000' AS DateTime2), 0.0000, NULL, NULL, NULL, NULL, 31.9500)
INSERT [dbo].[Narudzbina] ([Id], [StoreId], [KupacId], [StatusNarudzbineId], [DatumNarudzbine], [Telefon], [DatumIsporuke], [CenaIsporuke], [UlicaDostave], [GradDostave], [DrzavaDostave], [ZipDostave], [UkupnoProizvoda]) VALUES (2, NULL, N'7462c7c8-e24c-484a-8f93-013f1c479615', 2, CAST(N'2013-04-15T01:50:00.0000000' AS DateTime2), N'(954) 594-9355', CAST(N'2013-04-15T02:34:00.0000000' AS DateTime2), 0.0000, NULL, NULL, NULL, NULL, 31.6500)
INSERT [dbo].[Narudzbina] ([Id], [StoreId], [KupacId], [StatusNarudzbineId], [DatumNarudzbine], [Telefon], [DatumIsporuke], [CenaIsporuke], [UlicaDostave], [GradDostave], [DrzavaDostave], [ZipDostave], [UkupnoProizvoda]) VALUES (3, NULL, N'7462c7c8-e24c-484a-8f93-013f1c479615', 3, CAST(N'2013-05-05T23:30:00.0000000' AS DateTime2), N'(954) 594-9355', CAST(N'2013-05-06T00:07:00.0000000' AS DateTime2), 2.0000, N'P.O. Box 914, 9990 Dapibus St.', N'Quam', N'OH', N'55154', 66.8000)
GO
SET IDENTITY_INSERT [dbo].[Narudzbina] OFF
GO
INSERT [dbo].[OpcijaProizvoda] ([Id], [Tip], [Ime], [Faktor], [OpcijaPice], [OpcijeSalate]) VALUES (1, N'crust', N'Classic Crust', 0, 1, 0)
INSERT [dbo].[OpcijaProizvoda] ([Id], [Tip], [Ime], [Faktor], [OpcijaPice], [OpcijeSalate]) VALUES (2, N'crust', N'Wheat Crust', 0, 1, 0)
INSERT [dbo].[OpcijaProizvoda] ([Id], [Tip], [Ime], [Faktor], [OpcijaPice], [OpcijeSalate]) VALUES (3, N'crust', N'Gluten-free Crust', 0, 1, 0)
SET IDENTITY_INSERT [dbo].[OpcijaProizvodaNarudzbine] ON 

INSERT [dbo].[OpcijaProizvodaNarudzbine] ([Id], [StoreId], [ProizvodNarudzbineId], [OpcijaProizvodaId], [Kolicina], [Cena]) VALUES (1, NULL, 1, 41, 1, 1.7000)
INSERT [dbo].[OpcijaProizvodaNarudzbine] ([Id], [StoreId], [ProizvodNarudzbineId], [OpcijaProizvodaId], [Kolicina], [Cena]) VALUES (2, NULL, 1, 13, 1, 1.7000)
INSERT [dbo].[OpcijaProizvodaNarudzbine] ([Id], [StoreId], [ProizvodNarudzbineId], [OpcijaProizvodaId], [Kolicina], [Cena]) VALUES (3, NULL, 1, 42, 1, 1.7000)
GO
SET IDENTITY_INSERT [dbo].[OpcijaProizvodaNarudzbine] OFF
INSERT [dbo].[Proizvod] ([Id], [Tip], [Ime], [Opis], [Slika], [ImaOpcije], [Veganski], [SaParadajzSosom], [VelicineIds]) VALUES (1, N'Pizza', N'Plain Cheese', N'Your basic plain cheese Pizza with no toppings.
Includes tomato sauce, moPicaNetrella, oregano and a sprinkling of cheddar', N'plaincheese.jpg', 0, 1, 1, NULL)
INSERT [dbo].[Proizvod] ([Id], [Tip], [Ime], [Opis], [Slika], [ImaOpcije], [Veganski], [SaParadajzSosom], [VelicineIds]) VALUES (2, N'Pizza', N'Make Your Own', N'Make your own
Includes tomato sauce, moPicaNetrella, oregano and a sprinkling of cheddar', N'makeyourown.jpg', 1, 1, 1, NULL)
INSERT [dbo].[Proizvod] ([Id], [Tip], [Ime], [Opis], [Slika], [ImaOpcije], [Veganski], [SaParadajzSosom], [VelicineIds]) VALUES (3, N'Pizza', N'Holy Smokes', N'Swiss, fontina, gorgonzola, moPicaNetrella, roasted walnuts and fresh sage', N'holysmokes.jpg', 1, 1, 0, NULL)
SET IDENTITY_INSERT [dbo].[ProizvodNarudzbine] ON 

INSERT [dbo].[ProizvodNarudzbine] ([Id], [StoreId], [NarudzbinaId], [ProizvodId], [VelicinaProizvodaId], [Kolicina], [CenaJedinice], [Cena], [Instrukcije]) VALUES (1, NULL, 1, 3, 3, 1, 20.9500, 26.0500, NULL)
INSERT [dbo].[ProizvodNarudzbine] ([Id], [StoreId], [NarudzbinaId], [ProizvodId], [VelicinaProizvodaId], [Kolicina], [CenaJedinice], [Cena], [Instrukcije]) VALUES (2, NULL, 1, 22, 7, 1, 3.9500, 3.9500, NULL)
INSERT [dbo].[ProizvodNarudzbine] ([Id], [StoreId], [NarudzbinaId], [ProizvodId], [VelicinaProizvodaId], [Kolicina], [CenaJedinice], [Cena], [Instrukcije]) VALUES (3, NULL, 1, 31, 11, 1, 1.9500, 1.9500, NULL)
GO
SET IDENTITY_INSERT [dbo].[ProizvodNarudzbine] OFF
INSERT [dbo].[StatusNarudzbine] ([Id], [Ime]) VALUES (1, N'Ordered')
INSERT [dbo].[StatusNarudzbine] ([Id], [Ime]) VALUES (2, N'PickedUp')
INSERT [dbo].[StatusNarudzbine] ([Id], [Ime]) VALUES (3, N'Delivered')
INSERT [dbo].[VelicinaProizvoda] ([Id], [Tip], [Ime], [Cena], [PremiumCena], [SnizenaCena], [SadrziGluten]) VALUES (1, N'Pizza', N'Personal 8"', 6.1500, 7.6500, 0.6500, 0)
INSERT [dbo].[VelicinaProizvoda] ([Id], [Tip], [Ime], [Cena], [PremiumCena], [SnizenaCena], [SadrziGluten]) VALUES (2, N'Pizza', N'Medium 12"', 12.4000, 16.9500, 1.3500, 0)
INSERT [dbo].[VelicinaProizvoda] ([Id], [Tip], [Ime], [Cena], [PremiumCena], [SnizenaCena], [SadrziGluten]) VALUES (3, N'Pizza', N'Large 14"', 14.4500, 20.9500, 1.7000, 0)
ALTER TABLE [dbo].[OpcijaProizvoda] ADD  CONSTRAINT [DF_OpcijaProizvoda_OpcijaPice]  DEFAULT ((1)) FOR [OpcijaPice]
GO
ALTER TABLE [dbo].[OpcijaProizvoda] ADD  CONSTRAINT [DF_OpcijaProizvoda_OpcijeSalate]  DEFAULT ((1)) FOR [OpcijeSalate]
GO
ALTER TABLE [dbo].[Proizvod] ADD  CONSTRAINT [DF_Proizvod_ImaOpcije]  DEFAULT ((1)) FOR [ImaOpcije]
GO
ALTER TABLE [dbo].[VelicinaProizvoda] ADD  CONSTRAINT [DF_VelicinaProizvoda_SadrziGluten]  DEFAULT ((0)) FOR [SadrziGluten]
GO
ALTER TABLE [dbo].[Narudzbina]  WITH CHECK ADD  CONSTRAINT [FK_Narudzbina_Kupac] FOREIGN KEY([KupacId])
REFERENCES [dbo].[Kupac] ([Id])
GO
ALTER TABLE [dbo].[Narudzbina] CHECK CONSTRAINT [FK_Narudzbina_Kupac]
GO
ALTER TABLE [dbo].[Narudzbina]  WITH CHECK ADD  CONSTRAINT [FK_Narudzbina_StatusNarudzbine] FOREIGN KEY([StatusNarudzbineId])
REFERENCES [dbo].[StatusNarudzbine] ([Id])
GO
ALTER TABLE [dbo].[Narudzbina] CHECK CONSTRAINT [FK_Narudzbina_StatusNarudzbine]
GO
ALTER TABLE [dbo].[OpcijaProizvodaNarudzbine]  WITH CHECK ADD  CONSTRAINT [FK_OpcijaProizvodaNarudzbine_OpcijaProizvoda] FOREIGN KEY([OpcijaProizvodaId])
REFERENCES [dbo].[OpcijaProizvoda] ([Id])
GO
ALTER TABLE [dbo].[OpcijaProizvodaNarudzbine] CHECK CONSTRAINT [FK_OpcijaProizvodaNarudzbine_OpcijaProizvoda]
GO
ALTER TABLE [dbo].[OpcijaProizvodaNarudzbine]  WITH CHECK ADD  CONSTRAINT [FK_OpcijaProizvodaNarudzbine_ProizvodNarudzbine] FOREIGN KEY([ProizvodNarudzbineId])
REFERENCES [dbo].[ProizvodNarudzbine] ([Id])
GO
ALTER TABLE [dbo].[OpcijaProizvodaNarudzbine] CHECK CONSTRAINT [FK_OpcijaProizvodaNarudzbine_ProizvodNarudzbine]
GO
ALTER TABLE [dbo].[ProizvodNarudzbine]  WITH CHECK ADD  CONSTRAINT [FK_ProizvodNarudzbine_Narudzbina] FOREIGN KEY([NarudzbinaId])
REFERENCES [dbo].[Narudzbina] ([Id])
GO
ALTER TABLE [dbo].[ProizvodNarudzbine] CHECK CONSTRAINT [FK_ProizvodNarudzbine_Narudzbina]
GO
ALTER TABLE [dbo].[ProizvodNarudzbine]  WITH CHECK ADD  CONSTRAINT [FK_ProizvodNarudzbine_Proizvod] FOREIGN KEY([ProizvodId])
REFERENCES [dbo].[Proizvod] ([Id])
GO
ALTER TABLE [dbo].[ProizvodNarudzbine] CHECK CONSTRAINT [FK_ProizvodNarudzbine_Proizvod]
GO
ALTER TABLE [dbo].[ProizvodNarudzbine]  WITH CHECK ADD  CONSTRAINT [FK_ProizvodNarudzbine_VelicinaProizvoda] FOREIGN KEY([VelicinaProizvodaId])
REFERENCES [dbo].[VelicinaProizvoda] ([Id])
GO
ALTER TABLE [dbo].[ProizvodNarudzbine] CHECK CONSTRAINT [FK_ProizvodNarudzbine_VelicinaProizvoda]
GO
USE [master]
GO
