.navbar-inverse {
    background-color: black;
    border-color: #080808;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px;
}




