<h1>Detalji kupaca</h1>
<div class="row">
  <form (ngSubmit)="onSave()" class="form">
    <div class="form-group">
      <label for="ime">Ime:</label>
      <input type="text" name="ime" class="form-control" [(ngModel)]="kupac.ime">
    </div>
    <div class="form-group">
      <label for="prezime">Prezime:</label>
      <input type="text" name="prezime" class="form-control" [(ngModel)]="kupac.prezime">
    </div>
    <div class="form-group">
      <label for="telefon">Telefon:</label>
      <input type="text" name="telefon" class="form-control" [(ngModel)]="kupac.telefon">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" name="email" class="form-control" [(ngModel)]="kupac.email">
    </div>
    <div class="form-group">
      <label for="ulica">Ulica:</label>
      <input type="text" name="ulica" class="form-control" [(ngModel)]="kupac.ulica">
    </div>
    <div class="form-group">
      <label for="grad">Grad:</label>
      <input type="text" name="grad" class="form-control" [(ngModel)]="kupac.grad">
    </div>
    <div class="form-group">
      <label for="drzava">Drzava:</label>
      <input type="text" name="drzava" class="form-control" [(ngModel)]="kupac.drzava">
    </div>
    <div class="form-group">
      <label for="zip">Zip:</label>
      <input type="text" name="zip" class="form-control" [(ngModel)]="kupac.zip">
    </div>
    <div class="form-group" *ngIf="errorMessage">
      <div class="alert alert-danger">{{errorMessage}}</div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Sacuvaj</button>
    </div>
  </form>
</div>

<div class="row" *ngIf="mogucaIzmena">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Datum</th>
            <th>Proizvodi narudzbine</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let narudzbina of narudzbine">
                <td>{{narudzbina.datumNarudzbine | date: 'short'}}</td>
                <td>{{narudzbina.proizvodiNarudzbine | proizvodinarudzbineconcatproizvod }}</td>
            </tr>
        </tbody>
    </table>
</div>

